
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6fa; 
    color: #333; 
    margin: 0; 
    padding: 20px;
    border-radius: 20px;
    position: relative;
    top: 50px;
}


.header {
    background-color: #D6D7FF; 
    width: 100%; 
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    top: 20px;
    left: -20px;
    transform: translateY(-40px);
}


.container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
}


.profile-pic {
    width: 200px;  
    height: 200px; 
    border-radius: 10px;
    position: relative;
    left: 40px;
    top: -50px;
}


h1 {
    margin: 0; 
    padding: 0; 
    font-size: 40px;
    position: relative;
    top: 30px;
    left: 90px;
    color: #000000;
}


.badge {
    display: inline-block;
    padding: 8px 16px;
    background-color: #3F35FE;
    color: white;
    border-radius: 20px;
    font-size: 0.9em;
    margin-top: 30px;
    font-family: Roboto, sans-serif;
    position: relative; 
    left: 300px;
    top: -100px;
}


.contact {
    margin-top: 20px;
    position: relative;
    left: 90px;
    top: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    margin: 5px 0;
    position: relative;
    top: -130px;
}

.contact-item:hover {
    color: #D6D7FF;
}

.icon {
    width: 35px;
    height: 35px;
}


.content {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    margin-top: 20px;
    border-radius: 20px;
    margin-right: -40px;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    top: -140px;
    left: -20px;
}

.profile p, .languages p, .skills ul, .work div, .education div {
    margin-bottom: 30px; /* Espacio entre los párrafos o elementos dentro de las columnas */
}


h2 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    border-bottom: 2px solid #BCBCBC;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

/* Estilo para los idiomas */
.language {
    margin: 5px 0;
}

.bar {
    background-color: #ddd;
    height: 8px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.english {
    width: 80%;
    height: 100%;
    background-color: #D6D7FF;
}

.spanish {
    width: 100%;
    height: 100%;
    background-color: #D6D7FF;
}


.soft-skills span {
    display: inline-block;
    background-color: #D6D7FF;
    color: #000000;
    padding: 8px 16px;
    border-radius: 20px;
    margin: 5px;
    font-size: 0.9em;
    font-family: 'Times New Roman', serif;
    
}


.experience, .degree {
    margin: 15px 0;
}


.date {
    display: inline-block; 
    background-color: #D6D7FF;
    color: #000000;
    padding: 5px 15px; 
    border-radius: 20px; 
    font-size: 0.9em;
    font-family: 'Times New Roman', serif;
}
ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

ul li {
    position: relative; 
    padding-left: 30px; 
    margin-bottom: 10px; 
    font-family: 'Merriweather', serif;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 10px;
}

ul li::before {
    content: ''; 
    position: absolute;
    left: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 16px; 
    height: 16px; 
    background-color: #D6D7FF; 
    border-radius: 50%; 
}


h5 {
    margin: 5px 0;
}


h6 {
    font-family: 'Merriweather', serif;
    position: relative;
    top:-70px;
    left: 85px;
    font-size: 20px;
    border-bottom: 2px solid #BCBCBC;
    padding-bottom: 5px;
    width: 95%;
    color:#000000;
}



